# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go specific
*.test
*.out
go.work

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Docker volumes data
data/

# Environment files
*.env
!example.env

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db
